#borda-arredondada {
    border-radius: 10px;
}

.barra-fixa {
    position: fixed;
    bottom: 0;
	right: 0;
}

#position-absolute {
    position: absolute;
	top: 0;
	right: 0;
}

.tamanho-imagem-video {
   width: calc(100% - 15px);
}

body {
    width: 100%;
    height: max-content;
    background-color:#E8DAB2;
}

header {
    position: relative;
}

header h3 {
    font-family: "Raleway";
    font-style: italic;
    font-size: 26px;
}

header h1 {
    font-family: "Raleway";
    font-size: 52px;
}

header img {
    width: 370px;
    height: 192px;
}

article {
    width: 800px;
    padding: 34px 24px 10px 24px;
    background-color: white;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
    transform: translateX(-50%);
}

article h2 {
    font-family: "Raleway";
    font-size: 30px; 
}

p {
    font-family: "Raleway";
    margin: 24px;
}

footer {
    padding: 16px;
    width: 100%;
    height: 50px;
    font-family: "Raleway";
    background-color: black;
    color: white;
}

footer p {
    bottom: 0;
    right: 0;
}

footer a {
    color: blue;
    text-decoration: none;
}
